@import "../../../variables";

.followText {
    font-family: $font;
    color: $secondary-color;
}

.btn-primary {
    background-color: #23aa4e;
    border-color: #177d37;
  }

.customContainer{
    margin-top: 100px;
    border: 2px solid black;
}
  
